body {
    background-color: black;
    color: pink;
    

    
  }
  
  h1 {
    color: blue;
    text-align: center;
  }

  h2 {
      color: red;
      text-align: center;
  }
  div h2 {
      color: green;
  }
  
  p {
    font-family: sans-serif;
    font-size: 20px;
    color:red;
    text-align: center;
  }

  .wrapper {
    margin: auto;
    width: 1000px;
  }

  img {
    text-align: center;
    float: inline-start;

  }

  .model-box1 {
    background-color: white;
    text-align: center;  
    content: icon;
    border-right: 4px solid red;
    border-left: 4px solid pink;
    border-top: 4x solid purple;
    border-bottom: 4px solid plum;
  }

  

  

  

  
  
   
  
